<section>
    <p> </p>
    <div class="horizontal">
        <img alt="me" src="/public/profile.png" width="100" height="100">
        <div>
            <br>
            <p> username: {{user.username}} </p>
            <p> email: {{user.email}} </p>
        </div>
    </div>
    <h3>About Me</h3>
    <p>
        {{user.aboutme}}
    </p>
    <form action="/users/{{username}}/update" method="post">
        <input type="text" name="aboutme">
        <input type="submit" value="Save">
    </form>
    <div id="photo_data">
    {{#each posts}}
        <a href="/posts/{{this.id}}">
            <div class="photo_wrapper" >
                <img src="{{this.thumbnail}}" width="100px" height="100px">
                <span>{{this.title}}</span>
                <form action="/posts/{{this.id}}/delete" method="post">
                <input type="submit" value="Delete">
                </form>
            </div>
        </a>
    {{/each}}
    </div>
</section>
