<section>
    <p> </p>
    <div class="horizontal">
        <div id="profile_image">
            <img alt="me" src="{{user.profile_image}}" width="100" height="100">
            <form id="profile_image_form" action="/users/{{this.username}}/update_image" method="post" enctype="multipart/form-data">
                <input type="file" id="profile_image" name="profile_image" accept="image/*"><br>
            </form>
       </div>
        <div>
            <p> username: {{user.username}} </p>
            <p> email: {{user.email}} </p>
        </div>
    </div>
    
    <h3>About Me</h3>
    <p>
        {{user.aboutme}}
    </p>
    <form action="/users/{{username}}/update" method="post">
        <textarea name="aboutme"></textarea>
        <input type="submit" value="Save">
    </form>
    <h3> My Videos </h3>
    <div id="photo_data">
        {{#each posts}}
        <div class="photo_wrapper" >
            <a href="/posts/{{this.id}}">
                <img src="/{{this.thumbnail}}">
                <span>{{this.title}}</span>
                <form action="/posts/{{this.id}}/delete" method="post">
                  <input type="submit" value="Delete">
                </form>
            </a>
        </div>
        {{/each}}
    </div>
</section>
