<section>
    <p> </p>
    <h2> {{post.title}} </h2>
    <div>
        <video width="320" height="240" controls>
            <source src="/videos/{{post.video}}" type="video/mov">
        </video>
        <br>
        <button id="subscribe">Subscribe</button>
        <p> Video Author: {{post.author}} </p>
        <p> Video Created At: {{post.create_time}} </p>
        <ul>
            {{#each comments}}
                <li>{{this.author}}: {{this.text}}</li>
            {{/each}}
            <li>
                <form action="/posts/{{post.id}}/comments" method="post">
                    <label for="comment">Comment:</label>
                    <input type="text" id="comment" name="comment"><br><br>
                    <input type="submit" value="Comment">
                </form>
            </li>
        </ul>
    </div>
</section>
